.logo-contenedor {
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 400px;
    height: 50px;
    text-align: center;
    color: #ffffff;
    font-size: 45px;
    margin-top: 15px;
}

@media screen and (max-width: 768px) {
    .logo-contenedor {
        margin: 10px 0 15px 0;
    }

    .logo {
        font-size: 30px;
        margin-top: unset;
        width: 80%;
        height: 40px;
    }
}