:root {
  --colorOne: #99c9aa;
  --colorTwo: #118855;
}

.App {
  width: fit-content;
  height: fit-content;
  box-sizing: border-box;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.contenedor-calculadora {
  width: 300px;
  height: fit-content;
  box-sizing: border-box;
  padding: 14px;
  background-color: var(--colorOne);
  border-radius: 10px;
  border: 5px solid var(--colorTwo);
  margin-top: 25px;
}

.fila {
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .contenedor-calculadora {
    width: 90%;
    margin: auto;
  }
}